{% extends 'base.html' %}

{% block content %}

<div style="text-align:center; margin-top:80px; color:white;">

    <h1>Konfirmasi Hapus Laporan</h1>

    <p>
        Apakah Anda yakin ingin menghapus laporan dengan judul:
        <b>"{{ object.title }}"</b>?
    </p>

    <div style="margin-top:20px;">

        <form method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger-galaxy">
                Ya, Hapus Data
            </button>
        </form>

        <a href="/reports/" class="btn btn-glass">
            Batal
        </a>

    </div>

</div>

{% endblock %}