{% extends 'base.html' %}

{% block content %}
<h2>Tambah / Edit Laporan</h2>

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label>Judul</label>
        {{ form.title }}
    </div>

    <div class="mb-3">
        <label>Kategori</label>
        {{ form.category }}
    </div>

    <div class="mb-3">
        <label>Deskripsi</label>
        {{ form.description }}
    </div>

    <div class="mb-3">
        <label>Lokasi</label>
        {{ form.location }}
    </div>

    <button type="submit" class="btn btn-galaxy">
    Simpan
    </button>

    <a href="/reports/" class="btn btn-glass">
        Kembali
    </a>
</form>

{% endblock %}