{% extends 'base.html' %}

{% block content %}

<h1 class="text-center">Daftar Laporan</h1>

<div class="text-center mb-3">
    <a href="/add/" 
       class="btn"
       style="background: linear-gradient(45deg, #ff6ec4, #7873f5); color:white;">
       Tambah Laporan
    </a>
</div>

{% if reports %}
<table class="table text-white">
    <thead style="background: linear-gradient(90deg, #ff6ec4, #7873f5);">
        <tr>
            <th>Judul</th>
            <th>Lokasi</th>
            <th>Status</th>
            <th>Aksi</th>
        </tr>
    </thead>

    <tbody>
    {% for report in reports %}
    <tr>
        <td>{{ report.title }}</td>
        <td>{{ report.location }}</td>

        <td>
            <span class="badge" style="background:#ff6ec4;">
                {{ report.status }}
            </span>
        </td>

        <td>
            <a href="/edit/{{ report.id }}" class="btn btn-sm"
               style="background: linear-gradient(45deg, #ff6ec4, #7873f5); color:white;">
               Edit
            </a>

            <a href="/delete/{{ report.id }}" class="btn btn-sm"
               style="background: linear-gradient(45deg, #ff4d6d, #ff6ec4); color:white;">
               Hapus
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}